body {
 font-size:16px;
 margin:0;
 padding:0}

#content {
 font-family:arial, verdana, sans-serif;
 text-align:left;
 line-height:1.4em;
 max-width:800px;
 margin-top:1em;
 margin-left:10%;
 text-align:center;
 margin-right:10%;
 margin-bottom:4em}

ul {
 list-style-type:none}

#bar1, #bar2, #bar3 {
 width:50%;
 border-right: 1px solid #000000;
 background: #00cc00;
 margin:1em}

#bar1text, #bar2text, #bar3text  {
 overflow:hidden;
 position:relative;
 padding:0.2em;
 width:190%;
 margin:1em}

button, select {
 margin-left:5%;
 padding:0}
